[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-youdao-translater"]
	path = bundle/vim-youdao-translater
	url = https://github.com/ianva/vim-youdao-translater
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "bundle/neodark.vim"]
	path = bundle/neodark.vim
	url = https://github.com/KeitaNakamura/neodark.vim
[submodule "bundle/vim-monokai"]
	path = bundle/vim-monokai
	url = https://github.com/crusoexia/vim-monokai
[submodule "bundle/vim-colors-github"]
	path = bundle/vim-colors-github
	url = https://github.com/acarapetis/vim-colors-github
[submodule "bundle/vim-one"]
	path = bundle/vim-one
	url = https://github.com/rakr/vim-one
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "bundle/vim-godef"]
	path = bundle/vim-godef
	url = https://github.com/dgryski/vim-godef
[submodule "bundle/mathjax-support-for-mkdp"]
	path = bundle/mathjax-support-for-mkdp
	url = https://github.com/iamcco/mathjax-support-for-mkdp
[submodule "bundle/markdown-preview.vim"]
	path = bundle/markdown-preview.vim
	url = https://github.com/iamcco/markdown-preview.vim
